
MessageApi/obj/project.nuget.cache
MessageApi/obj/project.assets.json
MessageApi/obj/MessageApi.csproj.nuget.g.targets
MessageApi/obj/MessageApi.csproj.nuget.g.props
MessageApi/obj/MessageApi.csproj.nuget.dgspec.json
MessageApi/obj/Debug/net5.0/TodoApi.RazorTargetAssemblyInfo.cache
MessageApi/obj/Debug/net5.0/TodoApi.pdb
MessageApi/obj/Debug/net5.0/TodoApi.MvcApplicationPartsAssemblyInfo.cs
MessageApi/obj/Debug/net5.0/TodoApi.MvcApplicationPartsAssemblyInfo.cache
MessageApi/obj/Debug/net5.0/TodoApi.genruntimeconfig.cache
MessageApi/obj/Debug/net5.0/TodoApi.GeneratedMSBuildEditorConfig.editorconfig
MessageApi/obj/Debug/net5.0/TodoApi.dll
MessageApi/obj/Debug/net5.0/TodoApi.csprojAssemblyReference.cache
MessageApi/obj/Debug/net5.0/TodoApi.csproj.FileListAbsolute.txt
MessageApi/obj/Debug/net5.0/TodoApi.csproj.CoreCompileInputs.cache
MessageApi/obj/Debug/net5.0/TodoApi.csproj.CopyComplete
MessageApi/obj/Debug/net5.0/TodoApi.csproj.AssemblyReference.cache
MessageApi/obj/Debug/net5.0/TodoApi.assets.cache
MessageApi/obj/Debug/net5.0/TodoApi.AssemblyInfoInputs.cache
MessageApi/obj/Debug/net5.0/TodoApi.AssemblyInfo.cs
MessageApi/obj/Debug/net5.0/staticwebassets/TodoApi.StaticWebAssets.xml
MessageApi/obj/Debug/net5.0/staticwebassets/TodoApi.StaticWebAssets.Manifest.cache
MessageApi/obj/Debug/net5.0/staticwebassets/MessageApi.StaticWebAssets.xml
MessageApi/obj/Debug/net5.0/staticwebassets/MessageApi.StaticWebAssets.Manifest.cache
MessageApi/obj/Debug/net5.0/ref/TodoApi.dll
MessageApi/obj/Debug/net5.0/ref/MessageApi.dll
MessageApi/obj/Debug/net5.0/project.razor.json
MessageApi/obj/Debug/net5.0/MessageApi.RazorTargetAssemblyInfo.cache
MessageApi/obj/Debug/net5.0/MessageApi.pdb
MessageApi/obj/Debug/net5.0/MessageApi.MvcApplicationPartsAssemblyInfo.cs
MessageApi/obj/Debug/net5.0/MessageApi.MvcApplicationPartsAssemblyInfo.cache
MessageApi/obj/Debug/net5.0/MessageApi.genruntimeconfig.cache
MessageApi/obj/Debug/net5.0/MessageApi.GeneratedMSBuildEditorConfig.editorconfig
MessageApi/obj/Debug/net5.0/MessageApi.dll
MessageApi/obj/Debug/net5.0/MessageApi.csproj.FileListAbsolute.txt
MessageApi/obj/Debug/net5.0/MessageApi.csproj.CoreCompileInputs.cache
MessageApi/obj/Debug/net5.0/MessageApi.csproj.CopyComplete
MessageApi/obj/Debug/net5.0/MessageApi.csproj.AssemblyReference.cache
MessageApi/obj/Debug/net5.0/MessageApi.assets.cache
MessageApi/obj/Debug/net5.0/MessageApi.AssemblyInfoInputs.cache
MessageApi/obj/Debug/net5.0/MessageApi.AssemblyInfo.cs
MessageApi/obj/Debug/net5.0/apphost.exe
MessageApi/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
MessageApi/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/TodoApi.runtimeconfig.json
MessageApi/bin/Debug/net5.0/TodoApi.runtimeconfig.dev.json
MessageApi/bin/Debug/net5.0/TodoApi.pdb
MessageApi/bin/Debug/net5.0/TodoApi.exe
MessageApi/bin/Debug/net5.0/TodoApi.dll
MessageApi/bin/Debug/net5.0/TodoApi.deps.json
MessageApi/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
MessageApi/bin/Debug/net5.0/System.Runtime.Caching.dll
MessageApi/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
MessageApi/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
MessageApi/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
MessageApi/bin/Debug/net5.0/System.Composition.TypedParts.dll
MessageApi/bin/Debug/net5.0/System.Composition.Runtime.dll
MessageApi/bin/Debug/net5.0/System.Composition.Hosting.dll
MessageApi/bin/Debug/net5.0/System.Composition.Convention.dll
MessageApi/bin/Debug/net5.0/System.Composition.AttributedModel.dll
MessageApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
MessageApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
MessageApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
MessageApi/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
MessageApi/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
MessageApi/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
MessageApi/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
MessageApi/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
MessageApi/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
MessageApi/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
MessageApi/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
MessageApi/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
MessageApi/bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
MessageApi/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
MessageApi/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
MessageApi/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
MessageApi/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
MessageApi/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/ref/TodoApi.dll
MessageApi/bin/Debug/net5.0/ref/MessageApi.dll
MessageApi/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/Newtonsoft.Json.dll
MessageApi/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
MessageApi/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
MessageApi/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
MessageApi/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
MessageApi/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
MessageApi/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
MessageApi/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
MessageApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
MessageApi/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
MessageApi/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
MessageApi/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
MessageApi/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
MessageApi/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
MessageApi/bin/Debug/net5.0/Microsoft.Identity.Client.dll
MessageApi/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
MessageApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
MessageApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
MessageApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.InMemory.dll
MessageApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
MessageApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
MessageApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
MessageApi/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
MessageApi/bin/Debug/net5.0/Microsoft.CodeAnalysis.Workspaces.dll
MessageApi/bin/Debug/net5.0/Microsoft.CodeAnalysis.Razor.dll
MessageApi/bin/Debug/net5.0/Microsoft.CodeAnalysis.dll
MessageApi/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
MessageApi/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.dll
MessageApi/bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
MessageApi/bin/Debug/net5.0/Microsoft.AspNetCore.Razor.Language.dll
MessageApi/bin/Debug/net5.0/MessageApi.runtimeconfig.json
MessageApi/bin/Debug/net5.0/MessageApi.runtimeconfig.dev.json
MessageApi/bin/Debug/net5.0/MessageApi.pdb
MessageApi/bin/Debug/net5.0/MessageApi.exe
MessageApi/bin/Debug/net5.0/MessageApi.dll
MessageApi/bin/Debug/net5.0/MessageApi.deps.json
MessageApi/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/Humanizer.dll
MessageApi/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/dotnet-aspnet-codegenerator-design.dll
MessageApi/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
MessageApi/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MessageApi/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
MessageApi/bin/Debug/net5.0/appsettings.json
MessageApi/bin/Debug/net5.0/appsettings.Development.json
